@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;

    &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
}