@import "../../../../assets/styles/variables.scss";

.field_container {
    display: flex;
    justify-content: start;
    height: 40px;
}
.field_style_usual {
    font-size: medium;
    background-color: #fff;
    border: 1px solid $font-color;
    border-radius: 5px;
    width: 100%;
    margin-right: 3px;

    &_disabled {
        font-size: medium;
        background-color: $background-color;
        border: 1px solid $font-color;
        border-radius: 5px;
        width: 100%;
        margin-right: 3px;
    }

    &_icon {
        cursor: pointer;
        max-width: 25px;
        max-height: 25px;
        padding: 5px;
        border-radius: 50%;
        margin: 1px;

        &:hover{
            background-color: #fff;
            transition-duration: 300ms;
        }
    }
}