@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";

.modal_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 5px;
    }
}