@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.company_card {
    &_container {
        @include _container;
        
    }

    &_title {
        @media (min-width: 1400px){
            max-width: 20%;
            }
        @media (max-width: 1400px) and (min-width: 950px){
            max-width: 40%;
            }
        @media (max-width: 950px){
            width: 80%;
            } 
        @media (max-width: 800px) and (min-width: 300px){
            width: 100%;
            } 
            
            &_frame {
                @include _frame;
                display: flex;
            }
    }

    &_contacts {
        @media (min-width: 1400px){
            max-width: 20%;
            }
        @media (max-width: 1400px) and (min-width: 950px){
            max-width: 40%;
            }
        @media (max-width: 950px){
            width: 80%;
            } 
        @media (max-width: 800px) and (min-width: 300px){
            width: 100%;
            } 
    }

    &_comment{
        @media (min-width: 1400px){
                    width: 20%;
                }
        @media (max-width: 1400px){
            width: 80%;
            }
        @media (max-width: 800px) and (min-width: 300px){
            width: 100%;
            } 
    }
    &_status {
        @media (min-width: 1400px) {
            width: 20%;
            }
        @media (min-width: 1300px) and (max-width: 1400px){
            width: 40%;
            }
        @media (min-width: 800px) and (max-width: 1300px){
            width: 80%;
            }          
            @media (max-width: 800px) and (min-width: 300px){
                width: 100%;
                }   
        background-color: $background-color;
        
        &_header {
            font-size: larger;
            padding-bottom: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    }
}