$base-button-color: #0076c5;
$font-color:#002a46;
$font-color-light:#25628a;
$background-color: #f1f9ff;
$hover-background: #ddebf5;
$opened_order_background: #ddf5de;
$closed_order_background: #efe4e3;

