@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    &_item {
        @media (max-width: 650px) {
            width: 80%;
        }
    }
}

.link {
    @include _link
}

.frame {
    cursor: pointer;
    @include _frame
}

.list {
    display: flex;
    flex-direction: column;
}